<h1>Dictionary</h1>

<p>Add a new word:</p>

<form action="/words" method="post">
  <label for="wordInput">What word would you like to add?</label>
  <input id="wordInput" name="wordInput" type="text">

  <button type="submit" class="btn btn-default">Add word</button>
</form>
