<h1>Add a new word to your Dictionary</h1>

<h3>Add your word here:</h3>

<form action="/words" method="post">
  <label for="wordInput">Your Word</label>
  <input id="wordInput" name="wordInput" type="text">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
